.vs
.vscode

obj
bin
Application.Data/bin
Application.Data/obj
Application.Dto/bin
Application.Dto/obj
Application.Faker/bin
Application.Faker/obj
Application.Services/bin
Application.Services/obj
Application.UseCases/bin
Application.UseCases/obj
Application.Validator/bin
Application.Validator/obj
Domain/bin
Domain/obj
Infrastructure.Persistence/bin
Infrastructure.Persistence/obj
Infrastructure.Services/bin
Infrastructure.Services/obj
Services.Api/bin
Services.Api/obj
Services.Api/appsettings.*.json
Shared.Common/bin
Shared.Common/obj
Shared.Localization/bin
Shared.Localization/obj
Shared.Logging/bin
Shared.Logging/obj
Shared.Resources/bin
Shared.Resources/obj
Test.Application.MSTest/bin
Test.Application.MSTest/obj
Test.Application.NUnitTest/bin
Test.Application.NUnitTest/obj

.env
